* {
	box-sizing: border-box;
	line-height: 200%;
}

body {
	background-color: #eee;
	font-family: 'Source Sans Pro', sans-serif;
}

button {
	border: 1em gray;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius:.1em;
	/* color: black; */
	
}

a {
	text-decoration: none;
	color: #fff;
}

/* header form {
	display: inline;
} */
.jumbotron {
 
	color: black;
	border:10px black;
	/* background-color: white; */

} 

/* header {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 10px #aaa;
	/* background-color:black; */

/* 
header button {
	float: left;
	font-size: 20px;
	color: #fff;
	height: 100%;
	min-width: 150px;
	padding: 0 15px;
} */

#all-articles {
	/* background-color: #999; */
	background-color: white;
}

#saved-articles {
	/* background-color: #aaa; */
	background-color: white;
}

#refresh-articles {
	background-color: #bbb;
}

#all-articles:hover, #saved-articles:hover, #refresh-articles:hover {
	/* background-color: #ccc; */
	background-color: rgb(234, 255, 202);
	opacity: 0.9;
}

#cover {
	width: 100%;
}

.story-body {
	margin: auto;
	width: 95%;
	min-height: 200px;
	box-shadow: 0 0 10px #aaa;
	background-color: #fff;
	margin-bottom:25px;
	padding:10px;
}

.story-body h2 {
	background-color: #75b8fa;
	font-size: 23px;
	padding-left: 10px;

}
.story-body a {
	float: left;
	display: block;
	width: 77%;
	color: #fff;
	padding-left: 10px;
}

.story-body button {
	display: inline;
	/* float: right; */
	min-width: 100px;
	background-color: white;
	color:black;
	font-weight: bold;
	font-size: 16px;
	border-radius:.1em;
}

.story-body button:hover {
	background-color: white;
	box-shadow: 0 0 10px #fff;
	border-radius:.1em;
}

.story-body summary {
	float: left;
	width: 80%;
	padding: 0px 20px;
	color: black;
	padding-right:50px;
}

.story-body img {
	display: inline-block;
	width: 200px;
	height: 180px;
}

.message h2{
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 10px #aaa;
	margin: auto;
	text-align: center;
	padding: 40px 90px;
	font-size:20px;
	/* color: #aaa; */
	color:black;
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	
}

#addnote {
	display: none;
	justify-content: center;
	align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 4;
}

#note {
	padding: 0 20px 20px 20px;
}

#note-displayer {
	width: 500px;
	background-color: #fff;
	z-index: 5;
}

#note-displayer h2 {
	background-color: #3181d3;
	color: #fff;
	padding: 0 20px;
	margin: 0;
}

#note-displayer h3 {
	padding: 0 20px;
	margin: 0;
	background-color: #93d2f7;
	color: #3181d3;
}

#note-displayer label {
	color: #aaa;
	font-size: 20px;
	font-weight: bold;
}

#note-displayer button {
	min-width: 128px;
	/* background-color: #77b9fd; */
	/* color: #fff; */
	/* color: gray; */
	color: black;
	border: 5px gray;
	font-weight: bold;
	font-size: 16px;
	margin: 0 10px;
	border-radius:.1em;
	
}

#note-displayer button:hover {
	/* background-color: #aed4fb; */
	background-color: rgb(234, 255, 202);
	box-shadow: 0 0 10px #fff;
	border-radius:.1em;
}

#note-title {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 5px;
	font-size: 15px;
}

#note-body {
	width: 100%;
	padding: 5px;
	font-size: 15px;
}

#container {
	margin-bottom: 200px;
	padding: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color: black;
	color: #ddd;
	font-size: 15px;
	border-top: 5px solid #aaedc3;
	opacity: 0.7;
	z-index: 3;
}

/* div.row {
	/* padding: 0px 10px 10px 10px; */
	/* margin-bottom: 10px; */
} */

@media only screen and (max-width:980px) {
	nav {
	  margin-right: 5px;
	}
  }
  
  
  @media only screen and (max-width: 768px) {
	.main-section,
	.sidebar {
	  max-width: 100%;
	}
  
	main {
	  overflow: auto;
	}
  
	.work {
	  /* Box-model */
	  width: 47%;
  
	  /* Positioning */
	  margin-bottom: 10px;
	}
  
	.work:nth-child(even) {
	  margin-right: 0;
	}
  
	.work:nth-child(odd) {
	  float: right;
	}
  
	.auth-image {
	  width: 50%;
	}
  
	.sidebar {
	  margin-bottom: 40px;
	}
  }
  
  @media only screen and (max-width: 640px){
	#masthead {
	  /* Positioning */
	  position: static;
	  margin-bottom: 20px;
	}

	
